<div class="columns p-4">
  <div class="column is-two-thirds">
  <% @posts.each do |post|%>
    <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= post.user.name %></strong> <small><%= post.user.username%></small> <small><%= distance_of_time_in_words(post.created_at, Time.now)%> ago</small>
            <br>
            <%= post.content %>           
          </p>
        </div>
      </div>
      <div class="media-right">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash"></i>
      </div>
    </article>
  <% end %>
  </div>
</div>


